* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    position: relative;
  }
  
  body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  a {
    text-decoration: none;
  }

  header {
    background: #6a136a;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 2rem 0;
    max-height: 120px;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

  }

  .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    color: #212a3c;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-link {
    display: flex;
  }

  .nav-link li{
    list-style: none;
    margin: 0 1rem;
  }

  .nav-link a{
    color: #fff;
    font-size: 1.0rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
  }

  .nav-link a:hover{
    background-color: rgba(0,0,0,0.1);
  }

  .nav-link button{
    background-color: #212a3c;
    color: #fff;
    padding: 0.7rem 0.7rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
  }

  .nav-link button:hover{
    background-color: rgba(0,0,0,0.5);
  }

  .barIcon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  @media(max-width: 850px){
    .barIcon{
        display: block;
    }

    .nav-link{
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #6a136a;
        position: absolute;
        width: 250px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
        transition: all 0.8s;
    }

    .nav-link a{
      color: black;
    }

    .nav-link.active{
        top: 10%;
        transition: all 0.8s ease-in;
    }
  }
